.navbar {
    list-style: none;
    background-color: grey;
    margin: 0px auto;
    padding: 10px 0px;
    width: auto;
    text-align: center;   
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px 59px;
    font-size: 24px;
}

.navbar a:hover {
    background-color: darkslategrey;
    padding: 12px 60px;
}

#container {
    border: 6px solid red;
    background-color: lightgrey;
    width: 90%;
    height: 850px;
    margin: 0px auto;
    overflow: auto;
}

#landscape {
    position: auto;
    top: 0px;
    z-index: 0;
    width: 100%;
}



img{
    width: auto;
    position: auto;
}

h2{
    text-align: center;
}

h1{
    text-align: center;
}


h4{
    text-align: center;
}




p{
    text-align: center;
}

*{
    font-family: sans-serif;
}

.navbar{
    background-color: blue;
}


#js {
    
    text-align: center;
}








